<html>
	<head>
		<title>Utopia Airlines</title> 
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<style>
		.node {    
			padding-right: 15px;
		    padding-left: 15px;
		    margin-right: auto;
		    margin-left: auto;	
		    width: 400px;
		}
		
		.nodewide {    
			padding-right: 15px;
		    padding-left: 15px;
		    margin-right: auto;
		    margin-left: auto;	
		    width: 1600px;		
		}
		
		.column {
		    position: relative;
		    min-height: 1px;
		    padding-right: 15px;
		    padding-left: 15px;
		    float: left;
		    }
		    
		.width_td {
		    width: 160px;
		    }
		    
		.full_width {
		    width: 100%;
		    }
		</style>
		<script>
		  $(function () {
		    $('#datetimepicker1').datetimepicker({
		        format: 'YYYY-MM-DD HH:mm'
		    });
		 });
		</script>
	</head>
	<body>
		<div th:if="${result_display} == display" id='result' class='node'>
			<h3 th:text="'Entry ' + ${form_action}"></h3><br />
			<p th:text="'id: '+${form_result.id}"/>
			<p th:text="'booking '+${form_result.booking}"/>
			<p th:text="'booking payment: '+${form_result.bookingPayment}"/>
			<p th:text="'booking agent '+${form_result.bookingAgent}"/>
			<p th:text="'booking user '+${form_result.bookingUser}"/>
			<p th:text="'booking guest: '+${form_result.bookingGuest}"/>
			<p th:text="'flight booking: '+${form_result.flightBookings}"/>
			<p th:text="'passenger: '+${form_result.passenger}"/>
		</div>
		<div th:if="${choices_display} == display" id='choices' class='node'>
			<h3 th:text=${header_text}></h3><br />
			<h4><a href='/admin/tickets?action=add'>Add Ticket</a></h4>
			<h4><a href='/admin/tickets?action=read'>Read Ticket</a></h4>
			<h4><a href='/admin/tickets?action=update'>Update Ticket</a></h4>
			<h4><a href='/admin/tickets?action=delete'>Delete Ticket</a></h4>
			<h4><a href='/admin/tickets?action=list'>List Ticket</a></h4>
			<h4><a href='/admin/'>Back to Admin Menu</a></h4>
		</div>		
		<div th:if="${not #lists.isEmpty(obj_list)}" id='list' class='nodewide'>
			<table>
				<tr>
					<th class="column width_td">ID</th>
					<th class="column width_td">BOOKING ID</th>
					<th class="column width_td">BOOKING PAYMENT ID</th>
					<th class="column width_td">BOOKING AGENT ID</th>
					<th class="column width_td">BOOKING USER ID</th>
					<th class="column width_td">BOOKING GUEST ID</th>
					<th class="column width_td">FLIGHT BOOKING ID</th>
					<th class="column width_td">PASSENGER ID</th>
				</tr>
				<tr th:each="obj : ${obj_list}">
					<td class="column width_td" th:text="${obj.id}"></td>
					<td class="column width_td" th:text="${obj.booking.id}"></td>
					<td class="column width_td" th:text="${obj.bookingPayment.id}"></td>
					<td th:if="${obj.bookingAgent} != null" class="column width_td" th:text="${obj.bookingAgent.id}"></td>
					<td th:if="${obj.bookingAgent} == null" class="column width_td">NONE</td>
					<td th:if="${obj.bookingUser} != null" class="column width_td" th:text="${obj.bookingUser.id}"></td>
					<td th:if="${obj.bookingUser} == null" class="column width_td">NONE</td>
					<td th:if="${obj.bookingGuest} != null" class="column width_td" th:text="${obj.bookingGuest.id}"></td>
					<td th:if="${obj.bookingGuest} == null" class="column width_td">NONE</td>
					<td class="column width_td" th:text="${obj.flightBookings.id}"></td>
					<td class="column width_td" th:text="${obj.passenger.id}"></td>
				</tr>
			</table>
		</div>
		<div th:if="${id_form_display} == display" id='form' class='node'>
			<form method='get' action='/admin/tickets'>
				<input type='hidden' name='action' th:value='${form_action}'/>
				<div class="panel panel-primary">
					<div class="panel-heading" th:text=${header_text}></div>
					<div class="panel-body">
						<div class="row">  
							<div class="column full_width">
				    			<div class="form-group">
									<label for='object_id' class='control-label'>Ticket ID:</label>
									<input type='text' id='object_id' name='object_id' class='form-control' />
								</div>
							</div>
						</div>	
						<div class="row">            
							<div class="col-md-6">
				    			<div class="form-group">			
			        				<input type="submit" class="btn btn-primary" value="Submit"/> 
			        			</div>
			        		</div>
							<div class="col-md-6" style="float: right;">
				    			<div class="form-group">
			        				<input type="button" class="btn btn-primary" value="Go back!" onclick="history.back()">
			        			</div>
			        		</div>
			        	</div>
					</div>
				</div>
			</form>
		</div>
		<div th:if="${form_display} == display" id='form' class='node'>
			<form method='post' action='/admin/tickets' th:object='${form_result}'>
				<input type='hidden' th:name='${_csrf.parameterName}' th:value='${_csrf.token}'/>
				<input type='hidden' name='form_action' th:value='${form_action}'/>
				<input type='hidden' id='object_id' name='object_id' th:value="${object_id}"/>
				<div class="panel panel-primary">
					<div class="panel-heading" th:text=${header_text}></div>
					<div class="panel-body">
						<div th:if="${form_action} != add" class="row">  
							<div class="column full_width">
				    			<div class="form-group">
									<label for='booking_id' class='control-label'>Booking ID:</label>
									<input type='text' id='booking_id' th:field='*{booking.id}' class='form-control' th:value='${form_result.booking.id}' />
								</div>
							</div>
						</div>	
						<div class="row">  
							<div class="column full_width">
				    			<div class="form-group">
									<label for='booking_isactive' class='control-label'>Booking isActive:</label>
									<input type='text' id='booking_isactive' th:field='*{booking.isActive}' class='form-control' th:value='${form_result.booking.isActive}' />
								</div>
							</div>
						</div>	
						<div class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='booking_code' class='control-label'>Booking Confirmation Code:</label>
									<input type='text' id='booking_code' th:field='*{booking.confirmationCode}' class='form-control' th:value='${form_result.booking.confirmationCode}' />
								</div>
							</div>
						</div>
						<div th:if="${form_action} != add" class="row">  
							<div class="column full_width">
				    			<div class="form-group">
									<label for='booking_payment_id' class='control-label'>Booking Payment ID:</label>
									<input type='text' id='booking_payment_id' th:field='*{bookingPayment.id}' class='form-control' th:value='${form_result.bookingPayment.id}' />
								</div>
							</div>
						</div>		
						<div class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='booking_payment_refunded' class='control-label'>Booking Payment Refunded?:</label>
									<input type='text' id='booking_payment_refunded' th:field='*{bookingPayment.refunded}' class='form-control' th:value='${form_result.bookingPayment.refunded}' />
								</div>
							</div>
						</div>	
						<div class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='booking_payment_stripe_id' class='control-label'>Booking Payment Stripe ID:</label>
									<input type='text' id='booking_payment_stripe_id' th:field='*{bookingPayment.stripeId}' class='form-control' th:value='${form_result.bookingPayment.stripeId}' />
								</div>
							</div>
						</div>
						<div th:if="${form_action} != add and ${form_result.bookingAgent.user} != null" class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='booking_agent_user_id' class='control-label'>Booking Agent User ID:</label>
									<input type='text' id='booking_agent_user_id' th:field='*{bookingAgent.user.id}' class='form-control' th:value='${form_result.bookingAgent.user.id}' />
								</div>
							</div>
						</div>
						<div th:if="${form_action} != add and ${form_result.bookingUser.user} != null" class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='booking_user_user_id' class='control-label'>Booking User User ID:</label>
									<input type='text' id='booking_user_user_id' th:field='*{bookingUser.user.id}' class='form-control' th:value='${form_result.bookingUser.user.id}' />
								</div>
							</div>
						</div>
						<div th:if="${form_action} != add" class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='booking_guest_id' class='control-label'>Booking Guest ID:</label>
									<input type='text' id='booking_guest_id' th:field='*{bookingGuest.id}' class='form-control' th:value='${form_result.bookingGuest.id}' />
								</div>
							</div>
						</div>		
						<div class="row">            
							<div th:if="${form_action} != add" class="column full_width">
				    			<div class="form-group">
									<label for='booking_guest_email' class='control-label'>Booking Guest Email:</label>
									<input type='text' id='booking_guest_email' th:field='*{bookingGuest.contactEmail}' class='form-control' th:value='${form_result.bookingGuest.contactEmail}' />
								</div>
							</div>
						</div>		
						<div class="row">            
							<div th:if="${form_action} != add" class="column full_width">
				    			<div class="form-group">
									<label for='booking_guest_phone' class='control-label'>Booking Guest Phone:</label>
									<input type='text' id='booking_guest_phone' th:field='*{bookingGuest.contactPhone}' class='form-control' th:value='${form_result.bookingGuest.contactPhone}' />
								</div>
							</div>
						</div>
						<div th:if="${form_action} == add" class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='user_id' class='control-label'>User ID (blank for guest):</label>
									<input type='text' id='user_id' name=user_id class='form-control' />
								</div>
							</div>
						</div>	
						<div th:if="${form_action} == add" class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='guest_email' class='control-label'>Guest Email:</label>
									<input type='text' id='guest_email' name=guest_email class='form-control' />
								</div>
							</div>
						</div>	
						<div th:if="${form_action} == add" class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='guest_phone' class='control-label'>Guest Phone:</label>
									<input type='text' id='guest_phone' name=guest_phone class='form-control' />
								</div>
							</div>
						</div>
						<div class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='flight_id' class='control-label'>Flight ID:</label><br />
									<input type='text' id='flight_id' th:field='*{flightBookings.flight.id}' class='form-control' th:value='${form_result.flightBookings.flight.id}'/>
								</div>
							</div>
						</div>
						<div th:if="${form_action} != add" class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='passenger_id' class='control-label'>Passenger ID:</label>
									<input type='text' id='passenger_id' th:field='*{passenger.id}' class='form-control' th:value='${form_result.passenger.id}'/>
								</div>
							</div>
						</div>	
						<div th:if="${form_action} == add" class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='passenger_address' class='control-label'>Passenger Address:</label>
									<input type='text' id='passenger_address' th:field='*{passenger.address}' class='form-control' th:value='${form_result.passenger.address}'/>
								</div>
							</div>
						</div>	
						<div th:if="${form_action} == add" class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='passenger_dob' class='control-label'>Passenger Date of Birth:</label>
									<input type='text' id='passenger_dob' th:field='*{passenger.dob}' class='form-control' th:value='${form_result.passenger.dob}'/>
								</div>
							</div>
						</div>	
						<div th:if="${form_action} == add" class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='passenger_gender' class='control-label'>Passenger Gender(optional):</label>
									<input type='text' id='passenger_gender' th:field='*{passenger.gender}' class='form-control' th:value='${form_result.passenger.gender}'/>
								</div>
							</div>
						</div>			
						<div class="row">            
							<div class="col-md-6">
				    			<div class="form-group">			
			        				<input type="submit" class="btn btn-primary" value="Submit"/> 
			        			</div>
			        		</div>
							<div class="col-md-6" style="float: right;">
				    			<div class="form-group">
			        				<input type="button" class="btn btn-primary" value="Go back!" onclick="history.back()">
			        			</div>
			        		</div>
			        	</div>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>