<html>
	<head>
		<title>Utopia Airlines</title> 
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<style>
		.node {    
			padding-right: 15px;
		    padding-left: 15px;
		    margin-right: auto;
		    margin-left: auto;	
		    width: 400px;
		}
		
		.nodewide {    
			padding-right: 15px;
		    padding-left: 15px;
		    margin-right: auto;
		    margin-left: auto;	
		    width: 800px;		
		}
		
		.column {
		    position: relative;
		    min-height: 1px;
		    padding-right: 15px;
		    padding-left: 15px;
		    float: left;
		    width: 100%;
		    }
		</style>
	</head>
	<body>
		<div th:if="${result_display} == display" id='result' class='node'>
			<h3 th:text="'Entry ' + ${form_action}"></h3><br />
			<p th:text="'iata_id: '+${form_result.iataId}"/>
			<p th:text="'time_zone: '+${form_result.timeZone}"/>
			<p th:text="'name: '+${form_result.name}"/>
			<p th:text="'iso_region: '+${form_result.isoRegion}"/>
			<p th:text="'city: '+${form_result.city}"/>
		</div>
		<div th:if="${choices_display} == display" id='choices' class='node'>
			<h3 th:text=${header_text}></h3><br />
			<h4><a href='/admin/airports?action=add'>Add Airport</a></h4>
			<h4><a href='/admin/airports?action=read'>Read Airport</a></h4>
			<h4><a href='/admin/airports?action=update'>Update Airport</a></h4>
			<h4><a href='/admin/airports?action=delete'>Delete Airport</a></h4>
			<h4><a href='/admin/airports?action=list'>List Airports</a></h4>
			<h4><a href='/admin/'>Back to Admin Menu</a></h4>
		</div>		
		<div th:if="${not #lists.isEmpty(obj_list)}" id='list' class='nodewide'>
			<table>
				<tr>
					<th>IATA ID</th>
					<th>NAME</th>
					<th>ISO REGION</th>
					<th>CITY</th>
					<th>TIMEZONE UNIQUE ID</th>
					<th>TIMEZONE ZONE ID</th>
				</tr>
				<tr th:each="obj : ${obj_list}">
					<td th:text="${obj.iataId}"></td>
					<td th:text="${obj.name}"></td>
					<td th:text="${obj.isoRegion}"></td>
					<td th:text="${obj.city}"></td>
					<td th:text="${obj.timeZone.id}"></td>
					<td th:text="${obj.timeZone.zoneId}"></td>
				</tr>
			</table>
		</div>
		<div th:if="${id_form_display} == display" id='form' class='node'>
			<form method='get' action='/admin/airports'>
				<input type='hidden' name='action' th:value='${form_action}'/>
				<div class="panel panel-primary">
					<div class="panel-heading" th:text=${header_text}></div>
					<div class="panel-body">
						<div class="row">  
							<div class="column">
				    			<div class="form-group">
									<label for='object_id' class='control-label'>Airport ID:</label>
									<input type='text' id='object_id' name='object_id' class='form-control' />
								</div>
							</div>
						</div>
						<div class="row">            
							<div class="col-md-6">
				    			<div class="form-group">			
			        				<input type="submit" class="btn btn-primary" value="Submit"/> 
			        			</div>
			        		</div>
							<div class="col-md-6" style="float: right;">
				    			<div class="form-group">
			        				<input type="button" class="btn btn-primary" value="Go back!" onclick="history.back()">
			        			</div>
			        		</div>
			        	</div>
					</div>
				</div>
			</form>
		</div>
		<div th:if="${form_display} == display" id='form' class='node'>
			<form method='post' action='/admin/airports' th:object='${form_result}'>
				<input type='hidden' th:name='${_csrf.parameterName}' th:value='${_csrf.token}'/>
				<input type='hidden' name='form_action' th:value='${form_action}'/>
				<input type='hidden' id='object_id' name='object_id' th:value="${object_id}"/>
				<div class="panel panel-primary">
					<div class="panel-heading" th:text=${header_text}></div>
					<div class="panel-body">
						<div class="row">  
							<div class="column">
				    			<div class="form-group">
									<label for='iata_id' class='control-label'>Iata ID:</label>
									<input type='text' id='iata_id' th:field='*{iataId}' class='form-control' th:value='${form_result.iataId}' />
								</div>
							</div>
						</div>	
						<div class="row">  
							<div class="column">
				    			<div class="form-group">
									<label for='time_zone_id' class='control-label'>TimeZone ID:</label>
									<input type='text' id='time_zone_id' th:field='*{timeZone.id}' class='form-control' th:value='${form_result.timeZone.id}' />
								</div>
							</div>
						</div>		
						<div class="row">            
							<div class="column">
				    			<div class="form-group">
									<label for='name' class='control-label'>Name:</label>
									<input type='text' id='name' th:field='*{name}' class='form-control' th:value='${form_result.name}' />
								</div>
							</div>
						</div>
						<div class="row">            
							<div class="column">
				    			<div class="form-group">	
									<label for='iso_region' class='control-label'>ISO Region</label>
									<input type='text' id='iso_region' th:field='*{isoRegion}' class='form-control' th:value='${form_result.isoRegion}'/>
								</div>
							</div>
						</div>
						<div class="row">            
							<div class="column">
				    			<div class="form-group">
									<label for='city' class='control-label'>City:</label>
									<input type='text' id='city' th:field='*{city}' class='form-control' th:value='${form_result.city}'/>
								</div>
							</div>
						</div>
						<div class="row">            
							<div class="col-md-6">
				    			<div class="form-group">			
			        				<input type="submit" class="btn btn-primary" value="Submit"/> 
			        			</div>
			        		</div>
							<div class="col-md-6" style="float: right;">
				    			<div class="form-group">
			        				<input type="button" class="btn btn-primary" value="Go back!" onclick="history.back()">
			        			</div>
			        		</div>
			        	</div>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>