<html>
	<head>
		<title>Utopia Airlines</title> 
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<style>
		.node {    
			padding-right: 15px;
		    padding-left: 15px;
		    margin-right: auto;
		    margin-left: auto;	
		    width: 400px;
		}
		
		.nodewide {    
			padding-right: 15px;
		    padding-left: 15px;
		    margin-right: auto;
		    margin-left: auto;	
		    width: 1600px;		
		}
		
		.column {
		    position: relative;
		    min-height: 1px;
		    padding-right: 15px;
		    padding-left: 15px;
		    float: left;
		    }
		    
		.width_td {
		    width: 160px;
		    }
		    
		.full_width {
		    width: 100%;
		    }
		</style>
		<script>
		  $(function () {
		    $('#datetimepicker1').datetimepicker({
		        format: 'YYYY-MM-DD HH:mm'
		    });
		 });
		</script>
	</head>
	<body>
		<div th:if="${result_display} == display" id='result' class='node'>
			<h3 th:text="'Entry ' + ${form_action}"></h3><br />
			<p th:text="'id: '+${form_result.id}"/>
			<p th:text="'airplane_id: '+${form_result.airplane}"/>
			<p th:text="'departure_time: '+${form_result.departureTime}"/>
			<p th:text="'reserved_seats: '+${form_result.reservedSeats}"/>
			<p th:text="'seat_price: '+${form_result.seatPrice}"/>
			<p th:text="'route_id: '+${form_result.route}"/>
		</div>
		<div th:if="${choices_display} == display" id='choices' class='node'>
			<h3 th:text=${header_text}></h3><br />
			<h4><a href='/admin/flights?action=add'>Add Flight</a></h4>
			<h4><a href='/admin/flights?action=read'>Read Flight</a></h4>
			<h4><a href='/admin/flights?action=update'>Update Flight</a></h4>
			<h4><a href='/admin/flights?action=delete'>Delete Flight</a></h4>
			<h4><a href='/admin/flights?action=list'>List Flights</a></h4>
			<h4><a href='/admin/'>Back to Admin Menu</a></h4>
		</div>		
		<div th:if="${not #lists.isEmpty(obj_list)}" id='list' class='nodewide'>
			<table>
				<tr>
					<th class="column width_td">ID</th>
					<th class="column width_td">ROUTE ID</th>
					<th class="column width_td">ROUTE ORIGIN</th>
					<th class="column width_td">ROUTE DESTINATION</th>
					<th class="column width_td">AIRPLANE ID</th>
					<th class="column width_td">DEPARTURE TIME</th>
					<th class="column width_td">RESERVED SEATS</th>
					<th class="column width_td">SEAT PRICE</th>
				</tr>
				<tr th:each="obj : ${obj_list}">
					<td class="column width_td" th:text="${obj.id}"></td>
					<td class="column width_td" th:text="${obj.route.id}"></td>
					<td class="column width_td" th:text="${obj.route.airport.iataId}"></td>
					<td class="column width_td" th:text="${obj.route.airport2.iataId}"></td>
					<td class="column width_td" th:text="${obj.airplane.id}"></td>
					<td class="column width_td" th:text="${obj.departureTime}"></td>
					<td class="column width_td" th:text="${obj.reservedSeats}"></td>
					<td class="column width_td" th:text="${obj.seatPrice}"></td>
				</tr>
			</table>
		</div>
		<div th:if="${id_form_display} == display" id='form' class='node'>
			<form method='get' action='/admin/flights'>
				<input type='hidden' name='action' th:value='${form_action}'/>
				<div class="panel panel-primary">
					<div class="panel-heading" th:text=${header_text}></div>
					<div class="panel-body">
						<div class="row">  
							<div class="column full_width">
				    			<div class="form-group">
									<label for='object_id' class='control-label'>Flight ID:</label>
									<input type='text' id='object_id' name='object_id' class='form-control' />
								</div>
							</div>
						</div>	
						<div class="row">            
							<div class="col-md-6">
				    			<div class="form-group">			
			        				<input type="submit" class="btn btn-primary" value="Submit"/> 
			        			</div>
			        		</div>
							<div class="col-md-6" style="float: right;">
				    			<div class="form-group">
			        				<input type="button" class="btn btn-primary" value="Go back!" onclick="history.back()">
			        			</div>
			        		</div>
			        	</div>
					</div>
				</div>
			</form>
		</div>
		<div th:if="${form_display} == display" id='form' class='node'>
			<form method='post' action='/admin/flights' th:object='${form_result}'>
				<input type='hidden' th:name='${_csrf.parameterName}' th:value='${_csrf.token}'/>
				<input type='hidden' name='form_action' th:value='${form_action}'/>
				<input type='hidden' id='object_id' name='object_id' th:value="${object_id}"/>
				<div class="panel panel-primary">
					<div class="panel-heading" th:text=${header_text}></div>
					<div class="panel-body">
						<div class="row">  
							<div class="column full_width">
				    			<div class="form-group">
									<label for='route_id' class='control-label'>Route ID:</label>
									<input type='text' id='route_id' th:field='*{route.id}' class='form-control' th:value='${form_result.route.id}' />
								</div>
							</div>
						</div>		
						<div class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='airplane_id' class='control-label'>Airplane ID:</label>
									<input type='text' id='airplane_id' th:field='*{airplane.id}' class='form-control' th:value='${form_result.airplane.id}' />
								</div>
							</div>
						</div>
						<div class="row">            
							<div class="column full_width">
				    			<div class="form-group">	
									<label for='departure_time' class='control-label'>Departure Time</label>
									<div class='input-group date' id='datetimepicker1'>
										<input type='text' id='departure_time' name='departure_time' class='form-control' th:value='${form_result.departureTime}'/>
										<span class='input-group-addon'>
										<span class='glyphicon glyphicon-calendar'></span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='reserved_seats' class='control-label'>Reserved Seats:</label><br />
									<input type='text' id='reserved_seats' th:field='*{reservedSeats}' class='form-control' th:value='${form_result.reservedSeats}'/>
								</div>
							</div>
						</div>
						<div class="row">            
							<div class="column full_width">
				    			<div class="form-group">
									<label for='seat_price' class='control-label'>Seat Price:</label>
									<input type='text' id='seat_price' th:field='*{seatPrice}' class='form-control' th:value='${form_result.seatPrice}'/>
								</div>
							</div>
						</div>			
						<div class="row">            
							<div class="col-md-6">
				    			<div class="form-group">			
			        				<input type="submit" class="btn btn-primary" value="Submit"/> 
			        			</div>
			        		</div>
							<div class="col-md-6" style="float: right;">
				    			<div class="form-group">
			        				<input type="button" class="btn btn-primary" value="Go back!" onclick="history.back()">
			        			</div>
			        		</div>
			        	</div>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>