<html>
	<header th:insert="fragments/header.html :: header"></header>
	<body>
		<div th:if="${result_display} == display" id='result' class='node'>
			<h3 th:text="${message}"></h3><br />
			<h4><a href='/admin/'>Back to Admin Menu</a></h4>
		</div>
		<div th:if="${id_form} == display" id='form' class='node'>
			<form method='get' th:action="@{('/admin/booking_override')}">
				<input type='hidden' name='action' th:value='${form_action}'/>
				<div class="panel panel-primary">
					<div class="panel-heading" th:text=${header_text}></div>
					<div class="panel-body">
						<div class="row">  
							<div class="column full_width">
				    			<div class="form-group">
									<label for='object_id' class='control-label' th:text="${field_id}"></label>
									<input type='text' id='object_id' name='object_id' class='form-control' />
								</div>
							</div>
						</div>	
						<div class="row">            
							<div class="col-md-6">
				    			<div class="form-group">			
			        				<input type="submit" class="btn btn-primary" value="Submit"/> 
			        			</div>
			        		</div>
							<div class="col-md-6" style="float: right;">
				    			<div class="form-group">
			        				<input type="button" class="btn btn-primary" value="Go back!" onclick="history.back()">
			        			</div>
			        		</div>
			        	</div>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>